.current-time {
  float: right;
  font-weight: 700;
  margin-top: 10px;
}

.event {
  padding: 20px;
  position: relative;
  border-bottom: 1px solid $silver;

  &__name {
    color: $orange;
  }

  &__hours {
    font-weight: 700;

    span {
      position: relative;
      margin-right: 20px;
      color: $silver;

      &:not(:last-of-type):after {
        content: '';
        position: absolute;
        top: 9px;
        right: -15px;
        width: 10px;
        height: 3px;
        background: $silver;
      }    
    }
  }

  &__location {
    font-weight: 600;  
    font-size: .9em;
    margin-bottom: 5px;
  }

  &.current {
    background: $silver;
    cursor: pointer;

    .event__name {
      color: $dark-silver;
    }

    .event__hours {

      span {
        color: $dark-silver;

        &:not(:last-of-type):after {
          background: $dark-silver;
        }
      }
    }
  }
}

.attendees {
  display: flex;
  margin-top: 10px;
}

.attendee {
  margin-right: 10px;
  position: relative;

  &__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
  }

  &__name {
    position: absolute;
    width: 100px;
    left: 50%;
    text-align: center;
    top: 120%;
    margin-left: -50px;
    font-size: .8em;
    color: white;
    background: $orange;
    padding: 5px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity .2s linear;
    z-index: 3;

    &:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(244, 114, 91, 0);
      border-bottom-color: #f4725b;
      border-width: 5px;
      margin-left: -5px;
    }
  }

  &:hover {
    .attendee__name {
      opacity: 1;
    }
  }
}

@mixin indicator($background, $color){
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
  background: $background;
  color: $color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;  
}

.current-indicator {
  @include indicator(white, $orange);
}

.soon-indicator {
  @include indicator($orange, white);
}