doctype html
html(lang="en", ng-app="app")
  head
    title FakeCo Meeting Schedule
    link(href="css/main.css", rel="stylesheet", type="text/css")
  body(ng-controller="AppCtrl")
    header
      .container
        .row
          .col-6
            h1.title FakeCo Meetings
          .col-6
            span.current-time Current Time:
    section
    footer
      .container
        .row
          .col-6
            p test
          .col-6
            p test
    script(src="scripts/scripts.js", type="text/javascript")
    script(src="scripts/main.js", type="text/javascript")
