doctype html
html(lang="en", ng-app="app")
  head
    title FakeCo Meeting Schedule
    link(href="css/main.css", rel="stylesheet", type="text/css")
  body(ng-controller="AppCtrl")
    header
      .container
        .row
          .col-6
            h1.title FakeCo Meetings
          .col-6
            span.current-time Current Time: {{ currentTime | date:'shortTime'}}
    section
      .events
        .event(ng-repeat="event in events |  orderBy: 'start_time'", ng-class="{'current': event.start_time === currentEvent, 'soon': event.start_time === soonEvent}")
          .current-indicator(ng-if="event.start_time === currentEvent") IP
          .soon-indicator(ng-if="event.start_time === soonEvent") Soon
          .container
            .event__hours
              span {{ event.start_time | date:'shortTime' }}
              span {{ event.end_time | date:'shortTime' }}
            h2.event__name {{ event.name }}
            span.event__location {{ event.location }}
            .attendees
              .attendee(ng-repeat="attendees in event.attendees")
                img.attendee__image(ng-style="{'background-image':'url({{attendees.photo}})'}")
                .attendee__name {{ attendees.name }}    
    footer
      .container
        .row
          .col-6
            p test
          .col-6
            p test
    script(src="scripts/scripts.js", type="text/javascript")
    script(src="scripts/main.js", type="text/javascript")
